body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container { 
    text-align: center;
    position: absolute;
    top: 34%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: fit-content;
    height: fit-content;
}

.icons {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  font-size: 20px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.text {
  color: gray;
  font-size: 35px;
}

#name {
  margin-bottom: -30px;
}

#description {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;

}

#maher {
  background: -webkit-linear-gradient(#eee, 	#333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width: 620px) {
  .icons{
    flex-direction: column;
  }
  .text {
    /* width: fit-content; */
    font-size: small;
  }
  .container{
    left: 10%;
  }
  }

















