
html, h1, p {
  margin: 0;
  padding: 0;
  font-family: cursive;
  color: antiquewhite;
}

body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background: #232526;  
  background: -webkit-linear-gradient(to right, #414345, #232526); 
  background: linear-gradient(to right, #414345, #232526); 
}

a {
  margin-top: 22px;
  text-decoration: none;
  color: antiquewhite;
}

.container {
  text-align: center;
  padding: 50px 0;
  margin: 15% 25%;
}


#name {
  font-size: 45px;
}

#description {
  font-size: 22px;
  margin-bottom: 45px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}


@media (max-width: 620px){
  .container{
    margin: 0;
    margin-top: 50px;
    padding: 5px;
  }
  .bottom {
    flex-direction: column;
  }
  p {
    margin-top: 20px;
  }
}
